[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"urllib3" = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
"pathlib2" = "*"
scandir = "*"
black = "*"
requests-mock = "*"

[pipenv]
allow_prereleases = true
