[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
pytest = "==4.0.0"
pytest-cov = "==2.6.0"
"pathlib2" = "*"
scandir = "*"
black = "*"
requests-mock = "*"

[pipenv]
allow_prereleases = true
